header{
    background:#B31F18;
    height: 106px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
}
.mini-menu{
    border: 1px solid black;
    height: 30px;
    grid-column: 1 / span 4;
    text-align: right;
}
header h1{
    border: 1px solid black;
    text-align: center;
    width: 100%;
}
header ul{
    border: 1px solid black;
    grid-column: span 3;
}