video{
    width: 100%;
    height: 950px;
    position: relative;
    top: -35px;
    z-index: 1;
}
.video-container h2{
    z-index: 10;
    position: absolute;
    background: rgba(0, 0, 0,0.5);
    color: aliceblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 70px;
    font-size: 38px;
    width: 650px;
    height: 170px;
    margin-top: 590px;
    border-left: 15px solid red;
}

/*2ND DIV*/

.descriptions h2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    color: #D14049;
    font-size: xx-large;
    padding-left: 35px;
    padding-top: 50px;
}
.descriptions p{
    padding-left: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10px ;
}
.descriptions button, .layout-container div:nth-child(4)>button{
    margin-top: 35px;
    margin-left: 35px;
    height: 50px;
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #cb1331;
    color: white;
    width: 160px;
    height: 60px;
    font-weight: bold;
    border: none;
    box-shadow: 2px 2px 0px 0px #cb1331;
    border-right: 5px solid white;
    border-bottom: 5px solid white;
}
.layout-container div:nth-child(3)>img{
    top: 0;
    width: 100%;
    height: 100%;
}
.wide-pics img{
    width: 100%;
    height: 100%;
}
.img-description img{
    margin-top: 70px;

}
.img-description{
    padding-left:70px;
}
.img-description p{
    width: 550px;
}
.white-button{
    background: white;
    width: 160px;
    height: 60px;
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    border: none;
    box-shadow: 2px 2px 0px 0px white;
    border-right: 5px solid #cb1331;
    border-bottom: 5px solid #cb1331;
    color: #cb1331;
}
.red-button{
    background: #cb1331;
    width: 160px;
    height: 60px;
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    border: none;
    box-shadow: 2px 2px 0px 0px #cb1331;
    border-right: 5px solid white;
    border-bottom: 5px solid white;
    color: whitesmoke;
}