main{
    background: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
main div:nth-child(1)/* video */
{
    background: white;
    height: 879px;
    grid-column: 1/ span 2;
    width: 100%;
    justify-self: center;
}
main div:nth-child(2) /*The campaign for miami university*/
{
    background: white;
    grid-column: 1/ span 2;
    width: 1218px;
    height: 500px;
    min-width: 609px;
    justify-self: center;
}
main div:nth-child(3) /* img 1 */
{
    background: white;
    justify-self: right;
    width: 608px;
    height: 501px;
}
main div:nth-child(4) /* their promise */
{
    background: white;
    margin-right: 170px;
    justify-self: left;
    width: 609px;
    height: 500px;
}
main div:nth-child(5) /*Four cornerstones for the future DOUBLE*/
{
    background: white;
    grid-column: span 2;
    margin-left: 170px;
    margin-right: 170px;
    height: 500px;
}
main div:nth-child(6)/*WIDE IMAGE */
{
    background: white;
    height: 600px;
}
main div:nth-child(7)/* Scholar WIDE*/
{
    background: #edece3;
    height: 600px;
}
main div:nth-child(8)/*Business and Enterpreneurship WIDE*/
{
    background: #cb1331;
    height: 600px;
}
main div:nth-child(9) /* IMG WIDE*/
{
    background: white;
    height: 600px;
}
main div:nth-child(10)/* IMG WIDE */
{
    background: white;
    height: 600px;
}
main div:nth-child(11) /* Clinical health Science WIDE*/
{
    background: #edece3;
    height: 600px;
}
main div:nth-child(12)/* Digital innovation and technology WIDE*/
{
    background: #cb1331;
    height: 600px;
}
main div:nth-child(13) /* IMG WIDE */
{
    background: white;
    height: 600px;
}
main div:nth-child(14)/* END MESSAGE */
{
    background: white;
    border: 1px solid black;
    grid-column: span 2;
    justify-self: center;
    height: 200px;
    text-align: center;
    width: 1218px;
}